.menu {
    display: flex;
    float: right;
}
.menu ul {
    list-style: none;
    padding-left: 20px;
}

.clear {
    /*clear: both;*/
}

body {
    font-family: Arial, serif;
}

h1 {
    text-align: center;
    color: #333;
}

a {
    text-decoration: none;
    color: rgb(25,70,230);
}

a:visited {
    color: rgb(25,70,230);
}