.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
}

.chart {
    flex: 5;
}

.form {
    flex: 3;
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
}

.form-simple {
    flex: 3;
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: max-content max-content max-content max-content;
}
